<% if(type == 'normal') { %>

	<!-- <div class="row haha">
    <embed src="<%= src %>" width="100%" height="550" type="application/pdf">
	</div> -->
	<div class="row pdf-viewer-tel" id="pdfViewerTeleport">
		<style>
			#viewerContainer {
				overflow: auto;
				position: absolute;
				width: 100%;
				height: 100%;
			}
		</style>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/web/pdf_viewer.css">

		<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/build/pdf.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.7.570/web/pdf_viewer.js"></script>
		
		<div id="viewerContainer">
			<div id="viewer" class="pdfViewer">
				loading...
			</div>
		</div>
		<script src="/js/viewer.js"></script>
		<script>
			window.embedPDF("<%= src %>")
		</script>
	</div>


<% } else if (type == 'googledoc'){ %>

	<div class="row">
		<iframe src="<%= src %>" style="width:100%; height:550px"></iframe>
	</div>

<% } else if(type == 'slideshare') { %>
	<iframe src="<%= src %>" style="width:100%;height:550px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px">
<% } %>
